.HomePage{
    padding-top: 8rem;
    display: grid;
    place-items: center;
    justify-content: center;
}
.Featured{
    height: auto;
    width: auto;
    padding: 20px 0 20px 55px;
    border-radius: 2px;
    width: 90vw;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 12.2rem));
    grid-row: 10rem;
    gap: 1rem;
    margin-bottom: 2rem;

    & .Title{
        display: inline;
        /* grid-column: 1/-1; */
        margin: 0;
        padding: 0;
        text-align: left;
        font-weight: 700;
        font-size: 28px;
    }
    & .Separator{
        grid-column: 1/-1;
        margin: 0;
        border-radius: 50%;
        height: 2px;
        border: none;
    }
}
.Dark-Featured{
    background-color: rgb(41, 23, 59);
    box-shadow: 0 0 2px 2px rgb(41, 23, 59),
    0 0 4px 1px white;
    transition: all 100ms ease-in-out;

    & .Title{
        background-image: linear-gradient(150deg, var(--secondary-day-clr) 10%, var(--secondary-night-clr));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    & .Separator{
        background-color: var(--text-night-clr);
    }
}
.Light-Featured{
   background-color: rgba(211, 178, 247, 0.22);
   box-shadow: 0 0 2px 2px rgb(232, 220, 245);
   /* 0 0 4px 1px black; */
   transition: all 100ms ease-in-out;

   & .Title{
    background-image: linear-gradient(150deg, var(--secondary-night-clr) 10%, var(--secondary-day-clr));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   }
   & .Separator{
    background-color: var(--text-day-clr);
}
}
@media screen and (max-width: 1025px) {
    .HomePage{
        margin-top: 4.5rem;
        padding-top: 1rem;
    }
}
@media screen and (max-width: 768px) {
    .Featured{
        padding: 20px 0 20px 35px;
    }
}
@media screen and (max-width: 425px) {
    .Featured{
        padding: 20px 0px 20px 85px;
    }
}
@media screen and (max-width: 375px) {
    .Featured{
        padding: 20px 0px 20px 70px;
    }
}
@media screen and (max-width: 320px) {
    .Featured{
        padding: 20px 0px 20px 50px;
    }
}

