.Header-section {
  text-align: center;
  width: 100vw;
}

.Scroll-Lock{
  overflow: hidden;
}

.Dark-effect{
  box-shadow: 0 5px 10px #211122;
}
.Light-effect{
  box-shadow: 0 5px 10px #edddee;

}
.Nav-Holder {
  position: fixed;
  top: 0;
  z-index: 5;
}
nav {
  position: fixed;
  top: 5rem;
  /* display: flex;
  align-items: center; */
  width: 100vw;
  z-index: -1;
  font-family: var(--global-font);
  font-weight: bolder;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.Main {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  height: 5rem;
  width: 100vw;
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: 4% 40% 7% 4% 3%;
  grid-template-rows: 1fr;
  gap: 1.2rem;
}
.Dark-Header{
  background-color: rgba(106, 61, 128, 0.6);

}
.Light-Header{
  background-color: rgba(106, 61, 128, 0.8);

}
.Logo {
  position: relative;
  height: 80px;
  width: 80px;

}
.Logo::after{
  content: '';
  position: absolute;
  left: 26px;
  top: 27px;
  background-color: white;
  height: 28px;
  width: 28px;
  z-index: -1;
}


.Menu-Bar {
  display: none;
}

.Menu-Icon {
  position: absolute;
  left: 0;
  margin-left: 2rem;
  display: none;
}

#Menu:checked+label {
  color: var(--text-day-clr);
}

.Search-bar {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 30rem;
  
  &:focus, &:focus-within{
    outline: 4px solid #5d3e7ec1;
  }
}

.finder {
  height: 2.7rem;
  width: 27.2rem;
  padding: 0 0 0 0.9rem;
  border: none;
  caret-color: var(--primary-day-clr);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: var(--global-font);
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--text-night-clr);

  &:focus{
    outline: none;
  }
}

.Mag-glass {
  height: 2.7rem;
  width: 45px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
/*   
  &:focus, &:focus-within{
    outline: 4px solid #5d3e7ec1;
  } */
}

.Dark-input {
  background-color: var(--text-day-clr);
  color: var(--text-night-clr);
  transition: all 200ms ease-in-out;

}

.Light-input {
  background-color: var(--background-day-clr);
  color: var(--text-day-clr);
  transition: all 200ms ease-in-out;

}

.Dark-Mag {
  background-color: var(--secondary-night-clr);
  color: var(--text-night-clr);
  transition: all 200ms ease-in-out;

}

.Dark-Mag:hover {
  background-color: #1b0d1c7b;
}

.Light-Mag {
  background-color: var(--secondary-day-clr);
  color: var(--text-day-clr);
  transition: all 200ms ease-in-out;

}

.Light-Mag:hover {
  background-color: #efd3f1c6;
}

/* .Seller {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: large;
  transition: color 0.1s;
}
 */

#User-login {
  height: 36px;
  width: 95px;
  border: none;
  background-color: var(--primary-day-clr);
  color: var(--text-night-clr);
  border-radius: 3px;
  letter-spacing: 3px;
  padding-top: 0.1em;
  padding-left: 7px;
  font-size: 15px;
  font-family: var(--global-font);
  text-transform: uppercase;
  font-weight: 500;
  transition: all 200ms ease-in;

  &:hover{
    background-color: #262626;
    color: var(--primary-day-clr);
    transform: translateY(-2px);
    box-shadow: 0 0 10px 5px var(--primary-day-clr);
  }
}


.Dark-Mode {
  margin-top: 0.25rem;
  height: 28px;
  width: 28px;
}

.Light-Navbar {
  background-color: rgba(240, 213, 238, 0.7);
  transition: all 200ms ease-in-out;
}

.Dark-Navbar {
  background-color: rgba(27, 14, 29, 0.7);
  transition: all 200ms ease-in-out;

}
.Options{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a{
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  padding: 0.8rem 0.9rem 0.9rem 0.9rem;
  margin: 0 1px 0 1px;
  /* border-radius: 25px; */
}
/* nav a:hover{
  background-color: var(--text-day-clr);
  color: var(--text-night-clr) !important;
}
nav a:focus, nav a:focus-within{
  background-color: #7a52a4;
  color: var(--text-night-clr) !important;
} */

.User-Creds {
  display: none;
  position: relative;
}

#nav-user {
  display: none;
}

.User-dialog{
  display: none;
}
.Nav-icon{
  border: none;
  font-size: 1.1rem;
  background-color: transparent;
  display: none;
}
@media screen and (max-width: 1001px) {

  .Logo {
    height: 3rem;
    width: 7rem;
  }

  .User-Creds {
    display: block;
  }

  .Search-bar {
    width: 18rem;
  }

  .finder {
    width: 16rem;
  }

  .Mag-glass {
    width: 40px;
  }

  .User-dialog {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 4rem;
    right: 16.7rem;
    box-shadow: 0 0 5px 0 black;
    background-color: rgb(231, 225, 225);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .User-dialog {
    opacity: 0;
    border-radius: 5px;
    transform-origin: top;
    transform: scale(1, 0);
    transition: all 100ms ease-in;
  }
  #nav-user:checked ~ .User-dialog{
    transform: scale(1,1);
    opacity: 1;
  }
  .User-dialog::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 45%;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent rgb(231, 225, 225);
  }
  
  .User-dialog ul li {
    list-style-type: none;
    line-height: 2;
    padding-left: 1rem;
  }
  
  a.User-Options {
    text-decoration: none;
    color: var(--text-day-clr);
  }
  
  #User-login {
    display: none;
  }

  .Cart {
    display: none;
  }


  nav {
    display: none;
  }
  
  .Dark-Mode{
    margin-left: -2rem;
  }
  .Nav-icon{
    display: block;
  }
}

@media screen and (max-width: 769px) {
  .Logo {
    height: 2.5rem;
    width: 6.5rem;
  }

  .User-Creds {
    display: block;
  }

  .Search-bar {
    width: 15rem;
  }

  .finder {
    width: 14rem;
  }

  .Mag-glass {
    width: 40px;
  }

  #User-login {
    display: none;
  }

  .Cart {
    display: none;
  }


}

@media screen and (max-width: 426px) {
  .Main{
    grid-template-columns: 7% 13% 40% 4% 4% 4%;
    grid-template-rows: 1fr;
    height: 4.7rem;
    gap: 0.9rem;
  }
  .Logo {
    height: 60px;
    width: 60px;
    margin-left: -0.8rem;

    &::after{
      left: 20.5px;
      top: 21px;
      height: 20.5px;
      width: 20.5px;
    }

  }

  .User-Creds {
    display: block;
  }

  .Search-bar {
    margin-left: -0.5rem;
    width: 10.5rem;

  }

  .finder {
    width: 8.5rem;

  }

  .Mag-glass {
    width: 40px;
  }

  #User-login {
    display: none;
  }

  .Cart {
    display: none;
  }

  .User-Creds {
    font-size: small;
  }
  .User-dialog{
    right: 2.8rem;
  }
  .Nav-icon {
    font-size: 1.1rem;
    margin-top: 0.2rem;
  }

  .Dark-Mode {
    height: 24px;
    width: 24px;
  }

}

@media screen and (max-width: 376px) {
  .Logo {
    height: 2.2rem;
    width: 4.9rem;
    margin-left: 0.3rem;
  }

  .User-Creds {
    display: block;
  }

  .Search-bar {
    margin-left: -0.5rem;
    width: 10.5rem;
    margin-right: -1.4rem;
  }

  .finder {
    width: 8.5rem;

  }

  .Mag-glass {
    width: 40px;
  }

  #User-login {
    display: none;
  }

  .Cart {
    display: none;
  }

  .User-Creds {
    font-size: 0.75rem;
  }

  .Nav-icon {
    font-size: 0.85rem;
  }

  .Dark-Mode {
    /* margin-left: -1rem; */
    height: 22px;
    width: 22px;
    margin-top: 0.3rem;

  }

}