.Slide-Container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 25;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--global-font);
    font-weight: 400;
    font-size: 1.2rem;
}
.Slide-Background{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(13, 13, 13, 0.524);
    z-index: 6;
}
.Slide-Logo-Holder{
    width: 100%;
    background-color: var(--primary-day-clr);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 2px solid var(--text-day-clr); */
}
a.Active{
    background-color: var(--primary-day-clr);
    box-shadow: inset 0 0 20px 5px #261935;
    border: none !important;
    transition: all 200ms ease-in-out;
}
.Slide-Logo{
    position: relative;
    height: 200px;
    width: 200px;
    left: 1.2rem;
    z-index: 2;
}
.User-Creds{
    background-color: transparent;
    color: var(--text-night-clr);
    border: none;
    /* height: 30px;
    width: 30px; */
    font-size: 1.7rem;
    align-self: flex-start;
    position: relative;
    padding: 0.5rem 0.8rem;
    /* outline: 2px solid var(--text-night-clr);
    outline-offset: 0.05rem; */
    top: 1.2rem;
    right: .2rem;
    /* border-radius: 5px; */
    /* border: 2px solid var(--text-night-clr); */
}
.Slide-Logo::after{
    position: absolute;
    content: "";
    background-color: var(--text-night-clr);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    top: 4.5rem;
    left: 4.3rem;
    z-index: -1;
}
a.Slider-Nav{
    line-height: 3.5;
    text-align: left;
    padding-left: 1.5rem;
    
}
.Slide-Options{
    /* display: flex;
    /*align-items: flex-start;
    justify-content: center;
    flex-direction: column; */
    height: 100vh;
    border-top: 2px solid black;
    border-right: 2px solid black;
    overflow-y: auto;
    background-color: var(--text-day-clr);
    z-index: 7;

    & a{
        text-decoration: none;
        display: block;
        color: var(--text-night-clr);
        border-bottom: 2px solid var(--primary-day-clr);
        /* border-right: 1px solid var(--primary-day-clr); */
        border-radius: 15px;
        margin: 0 1rem 0.4rem 1rem;
    }
}
.Footer{
    color: rgb(190, 184, 184);
    font-weight: 200;
    font-size: 0.8rem;
    margin-top: 2rem;
    letter-spacing: 1px;
    margin-bottom: 5rem;
}
.Gap{
    margin-right: 1rem;
}
.Gap-Mob{
    margin-left: 0.3rem;
    margin-right: 1rem;
}
.Gap-Lap{
    margin-right: 0.9rem;
}
.Gap-Elec{
    /* margin-left: 0.3rem; */
    margin-right: 1.2rem;
}
.Gap-Book{
    margin-right: 1.3rem;
}
.Gap-Abt{
    margin-right: 1.2rem;
}
.Close-Nav{
    border: none;
    background-color: transparent;
    color: var(--text-night-clr);
    position: relative;
    z-index: 7;
    bottom: 23rem;
    left: 1rem;
    font-size: 1rem;
    &:hover{
        rotate: 90deg;
    }
}
